
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import "../styles/background.css";

.login{
    
    height: 60vh;
    width: 20vw;
    background-color: #2E294E;
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.login .formulario{
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}    
.login label{
    position: relative;
    font-size: 16px;
    font-family: 'Noto sans', sans-serif;
    color: rgb(235, 235, 235);
    
}
.login input{
    padding: 4px;
    outline: none;
    position: relative;
    height: 4vh;
    width: 18vw;
    border-radius: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.login button{
    color: white;
    background-color: #939AFF;
    border-radius: 3px;
    margin-top: 100px;
    height: 4vh;
    width: 18vw;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.login button:hover{
    cursor:grab;
    background-color:#6269c9;
}
.logo{
    margin-bottom: -6vh;
    height: 18vh;
}
#icon{
    position: absolute;
    top: 72%;
    right: 20px;
    transform: translateY(-50%);
    background: url(/styles/eye-slash-fill.svg);
    cursor: pointer;
    background-size: cover;
    height: 2vh;
    width: 1vw;
}
.input-group{
    position: relative;
}
#icon.hide{
    background: url(/styles/eye-fill.svg);
    background-size: cover;
}
