@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import "../styles/background.css";

.login{
    
    height: 60vh;
    width: 20vw;
    background-color: #2E294E;
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
}
.login label{
    position: relative;
    font-size: 20px;
    font-family: 'Noto sans', sans-serif;
    color: rgb(235, 235, 235);
    
}
.login input{
    outline: none;
    position: relative;
    height: 4vh;
    width: 18vw;
    border-radius: 3px;
}
.login button{
    outline: none;
    font-family: 'noto sans', sans-serif;
}
.login button:hover{
    cursor:grab;
}